/* ----------------------------- */
/*   Echauffement                */
/* ----------------------------- */
/* 
1- le bloc Aside doit faire 200px de large
2- le bloc Content doit être placé à droite de Aside et occuper l'espace restant (fluide)
3- un espace de 10px doit séparer les 2 blocs
*/

body {
	margin: 0;
	padding: 10px 30px;
	background: #F1EFE2;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	display: flex;
	align-items: flex-start ;
}
div {
	color: #fff;
	
}
.aside {
	background: orange;
	width: 200px;
	
}
.content {
	background: olivedrab;
	transform: translateX(10px);
	align-items: flex-start;

}





