/*
Un pied toujours collé en bas.
La flexibilité de la propriété flex s'applique également dans le sens vertical, on l'oublie parfois. Cela permet à un élément d'occuper toujours toute la hauteur disponible et de pousser un footer toujours en bas d'un bloc par exemple.
*/

/* Decoration */

body {
	margin: 1em;
	background: #fff;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1em;
}
header, div, section, footer {
	padding: 10px;
	border-radius: 10px;
	color: #fff;
}
section {
  	border: 2px solid gray;
}
header {
	background: dodgerblue;
	text-align: center;
}
div {
	color: #555;
}
nav a {
	display: block;
	padding: .5em 1em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,.3);
}
section {
	background: #eee;
}
footer {
	background: olivedrab;
	text-align: center;
}
h1 {
	margin: 1em 0;
	color: #345;
	text-shadow: 0 1px 1px #fff;
	text-align: center;
	font-family: georgia, "trebuchet ms", arial, serif;
}
section h1 {
	color: #fff;
	text-shadow: none;
}

/* Layout : À VOUS ! */
html {
	box-sizing: border-box;
}
*{
	box-sizing: inherit;
}

div.container{
	display: flex;
}
section{
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-right: 20px;
	
}
footer{
	margin-top: auto;
}


