
/* ----------------------------- */
/*   Largeur de boîtes           */
/* ----------------------------- */
/*

1- le paragraphe doit avoir des marges internes de 50px, une bordure noire de 5px sans dépasser de l'écran

*/



body {margin:0; padding:10px 40px; background:#F1EFE2;
	font-size: 1.6em;
	font-family: georgia, "trebuchet ms", arial, serif;}
h1 {margin-top: 20px; margin-bottom: 40px;
	color: #345; text-shadow: 1px 1px 1px #fff;}
h2 {color: #678; text-shadow: 1px 1px 1px #fff; font-size:1.1em}

p {margin: 0; background: #6B9A49; color: #fff;}

p {
	width: 100%; /* interdit de toucher ! */
	/* la boite depasse la fenetre en ajoutant les padding etc 
	il faut donc mettre boxsizing border box 
	 */
	padding: 50px;
	border: 5px solid black;
	box-sizing: border-box;

}
/* 
html {​​​​​
	box-sizing: border-box; //mettre seulement la boite html en box sizing
  }​​​​​

  * {​​​​​
	box-sizing: inherit; // inherit = heriter permettre aux enfants dhtml dheriter du box sizing
  }
 */
/* mettre ce code en debut au lieu de le mettre dans dans le p */
