/*
Ce module de 5 étapes est une simple liste numérotée (<ol> <li>).
L'étape en cours est marquée d'une classe “.is-current” et toutes les étapes suivantes sont semi-opacifiées.
Voici ce qu'il faut mettre en oeuvre :
  - flexbox pour la disposition générale
  - flex:1 sur les <li> pour les répartir,
    ainsi que sur les li::after pour générer la ligne continue ou discontinue entre les étapes
  - CSS counters pour la génération et l'affichage des chiffres
  - pas de JavaScript ni d'images
  - compatibilité sur les navigateurs classiques (IE10+)
*/

/* deco */
* {
  box-sizing: border-box;
}
body {
  padding: 2em;
  font-size: 1.6em;
  font-family: helvetica, arial, sans-serif;
}
h1 {
	margin: 0 0 1em;
	color: #345;
	text-align: center;
  font-family: georgia, "trebuchet ms", arial, serif;
}
.discrete {
  margin-top: 3em;
  font-size: 1.2rem;
  color: #678;
  line-height: 1.5;
}
.tunnel{
  counter-reset: progress;
  padding-left: 0;
  display: flex;
}
.tunnel li{
  display: flex;
  align-items: center;
  list-style-type: none;
  counter-increment: progress;

}
.tunnel li+li{
  flex: 1 0 auto;
}
.tunnel .is-current~li{
  opacity: .3;

}
.tunnel li::after{
  content: counter(progress);
  display: inline-block;
  box-sizing: border-box;
  width: 2em;
  height: 2em;
  line-height: 2em;
  background: hotpink;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
.tunnel li+li::before{
  content:"";
  flex: 1;
  display: block;
  border-bottom: 2px solid hotpink;
}
.tunnel .is-current ~ li::before{
  border-bottom-style: dotted;
}
